<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.francoiscampbell.xposeddatausage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Shows current cycle data usage in status bar" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <activity android:name=".settings.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".model.settings.SettingsRelay"
            android:enabled="true">
            <intent-filter>
                <action android:name="@string/action_settings_update_request" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
